
   body {
    background: #fffffe;
    color:#073472;

   }

   h1 {
    background: #8FBDD3;
    text-align:center;
    font-family: 'Caveat', cursive;
   
   }
  
   form {
    text-align:center;
   
   }

   #Q1{
    line-height: 50px
   }
   
   #Q2{
    line-height: 50px
   }

   #Q3{
    line-height: 50px
   }

   .button {
    background: #DAB021;
    color: #fbfbfb;
    border: 0;
    width: 400px;
    height: 100px;
    font-size: 45px;
    border-radius: 10px;
    font-family: 'Caveat', cursive;
    display: block;
    margin: auto;
    
  }
  
  .button:hover {
    background:rgb(255, 157, 0);
    cursor: pointer;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: 20% auto;
    width: 50%;
  }
  
 
  .modal-header {
    background: lightblue;
    text-align:center;
    padding: 3px 15px;
    
  }
  
   
  .modal-body {
    text-align:center;
    padding: 10px 20px;
  }